.navbar-brand {
    text-align: left;
    margin: 20px;
    box-sizing: border-box;
}

.navbar-header, .container-fluid {
    background-color: purple !important;
}

#header-nav {
    margin: auto;
    box-sizing: border-box;
}

#name, #price {
    color: black;
}

a {
    color: blueviolet !important;
}

#nav-list {
    margin-top: 10px;
    color: #951C49;
    text-align: center;
    font-size: 1.8em;
    position: initial;
}

#collapsable-nav {
    background: teal;
    width: 100%
}

#BoxBeef {
    background: burlywood;
    height: 1000px;
    border: solid 3px;
    border-color: black;
    box-sizing: border-box;
    margin: 10px;
    padding: 10px;
}

.navbar-right {
    display: none; 
}

.container {
    background-color: blue;
    margin-bottom: 2vw;
    padding: 2vw;
    height: 1000px;
}

.nav>li {
    text-align: center;
    position: static;
}

@media (min-width: 768px){
    .container {
        width: 98%;
        margin-left: 1%;;
    }
}