/* Algemene opmaak */

h2 {
    text-align: center
}

body{
    height:100%;
    width:100%;
    background-image:url(http://www.maat.sofiatopia.org/iwenis3a.jpg);
    background-repeat:no-repeat;
    background-size:cover;
 }

#deityDevotion {
    position: relative;
}

/*  Opmaak van afbeelding Akhenaten */

#songOfTheBull {
    color: firebrick;
    text-shadow: 1px 1px black;
    font-size: 2em;
    text-align: center;
    background-color: sandybrown;
    border-style: double;
    border-width: 3px;
    border-color: firebrick;
}

#thisKing {
    background-color: black;
}

/* Opmaak goden containers */

#godbox {
    height: 200px;
    border-style: groove;
    border-width: 1px;
    background-color: white;
    border-color: sandybrown;
    border-radius: 25px;
    box-sizing: border-box;
}

/* Opmaak knoppen containers */

#buttonBox {
    border-style: groove;
    border-width: 1px;
    margin:auto;
    background-color: white;
    border-color: sandybrown;
    border-radius: 25px;
    box-sizing: border-box;
    align-items: center;
}

#buttonBox:hover {
    background: lightsalmon;
}

.quizButtonBox {
    float: left;
    border-style: groove;
    margin: 10px;
    border-width: 1px;
    background-color: white;
    border-color: sandybrown;
    border-radius: 25px;
    box-sizing: border-box;
}

#quizButtonBox:hover {
    background: lightsalmon;
}

/* Opmaak vragen containers */

#questionBox {
    text-align: center;
    font-size: 1.2em;
    margin: 50px;
    height: 268px;
    padding: 30px;
    position: relative;
    border-style: groove;
    border-width: 1px;
    background-color: white;
    border: solid black;
    border-radius: 25px;
    box-sizing: border-box;
}

#storyBox {
    width: 66%;
    height: auto;
    margin: auto;
    padding: 5%;
}

/* Opmaak antwoorden containers */

.answerDiv {
    margin-left: 2%;
    margin-bottom: 50px;
    padding: 1%;
    float: left;
    width: 45%;
    height: 20%;
    border-style: groove;
    border-width: 1px;
    border-radius: 25px;
    box-sizing: border-box;
}

#answerBox {
    text-align: center;
    font-size: 1.5em;
    border-style: groove;
    border-width: 1px;
    background-color: white;
    border-color: sandybrown;
    border-radius: 25px;
    box-sizing: border-box;
    width: 90%;
    height: 90%;
    padding: 30px;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    border: solid black;
}

/* Opmaak "whats up?" knop */

button {
    text-align: center;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 60px;
    font-weight: bold;
    padding: 0 40px;
    background: salmon;
    border: none;
  }

button:hover {
    background: lightsalmon;
  }